{% extends 'share/layout.twig' %}

{% block title %}The Football Spot{% endblock %}

{% block content %}
<article>
<section>
<h1>このサイトについて</h1>
<h2>目的</h2>
<p>サッカー関係の記事をもっと簡単にたくさん見たい！という気持ちで作りました。<br>記事一覧のサムネイルをタップ/クリックすると、関連記事が表示されます</p>

<h2>運営者</h2>
<p>kent013 : <a href="https://github.com/kent013/">https://github.com/kent013/</a></p>
<h2>このサイトのソースコードについて</h2>
<p>このサイトに表示されている記事の収集、解析、表示までのソースコードは、<a href="https://github.com/kent013/football">https://github.com/kent013/football</a> で公開しています。</p>
</section>
<section>
<h1>プライバシーポリシー</h1>
<!--h2>広告の配信について</h2>

当サイトは第三者配信の広告サービス「Google Adsense グーグルアドセンス」を利用しています。

広告配信事業者は、ユーザーの興味に応じた広告を表示するためにCookie（クッキー）を使用することがあります。

Cookie（クッキー）を無効にする設定およびGoogleアドセンスに関する詳細は「広告 – ポリシーと規約 – Google」をご覧ください。

また、[サイト名]は、Amazon.co.jpを宣伝しリンクすることによってサイトが紹介料を獲得できる手段を提供することを目的に設定されたアフィリエイトプログラムである、Amazonアソシエイト・プログラムの参加者です。

第三者がコンテンツおよび宣伝を提供し、訪問者から直接情報を収集し、訪問者のブラウザにCookie（クッキー）を設定したりこれを認識したりする場合があります。
<h2 !-->

<h2>アクセス解析ツールについて</h2>
<p>当サイトでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。</p>
<p>このGoogleアナリティクスはトラフィックデータの収集のためにCookieを使用しています。このトラフィックデータは匿名で収集されており、個人を特定するものではありません。この機能はCookieを無効にすることで収集を拒否することが出来ますので、お使いのブラウザの設定をご確認ください。この規約に関して、詳しくは、<a href="https://www.google.com/analytics/terms/jp.html">Google アナリティクス利用規約 </a>をご確認ください。</p>
</p>

<h2>免責事項</h2>
<p>当サイトで掲載している画像の著作権・肖像権等は各権利所有者に帰属致します。権利を侵害する目的ではございません。記事の内容や掲載画像等に問題がございましたら、各権利所有者様本人が直接メールでご連絡下さい。確認後、対応させて頂きます。</p>
<p>当サイトからリンクやバナーなどによって他のサイトに移動された場合、移動先サイトで提供される情報、サービス等について一切の責任を負いません。</p>
<p>当サイトのコンテンツ・情報につきまして、可能な限り正確な情報を掲載するよう努めておりますが、誤情報が入り込んだり、情報が古くなっていることもございます。</p>
<p>当サイトに掲載された内容によって何らかの損害が発生したとしても、当サイトでは一切の責任を負いかねます。</p>
</section>
</article>
{% endblock %}
