{% extends 'share/layout.twig' %}

{% block title %}The Football Spot{% endblock %}

{% block content %}
<article>
<section>
<h1>このサイトについて</h1>
<h2>目的</h2>
<p>サッカー関係の記事をもっと簡単にたくさん見たい！という気持ちで作りました。<br>記事一覧のサムネイルをタップ/クリックすると、関連記事が表示されます</p>
<h2>運営者</h2>
<p>kent013 : <a href="https://github.com/kent013/">https://github.com/kent013/</a></p>
<h2>このサイトのソースコードについて</h2>
<p>このサイトに表示されている記事の収集、解析、表示までのソースコードは、<a href="https://github.com/kent013/football">https://github.com/kent013/football</a> で公開しています。</p>
</section>
</article>
{% endblock %}
