{% extends 'share/layout.twig' %}

{% block title %}The Football Spot{% endblock %}

{% block content %}
<article class="articles" role=list>
<section class="news card">
  <div class="media card-header" >
    {% include 'share/item.twig' with article %}
  </div>
  <div>
    <div class="card-body similar-news" role=list>
{% if similar_articles is empty %}
<span class="badge badge-pill badge-secondary"><i class="fa fa-spinner fa-spin fa-fw"></i> 関連記事は解析中です</span>
{% else %}
<h2><i class="far fa-futbol"></i> 関連記事 <i class="far fa-futbol"></i></h2>
  {% for similar_article in similar_articles %}
    {% include 'share/similar_item.twig' with similar_article %}
  {% endfor %}
{% endif %}
<div class="media">
<a class="btn btn-secondary btn-block" href="#" onclick="javascript:window.history.back(-1);return false;" role="button">もどる</a>
</div>
    </div>
  </div>
</section>
</article>
{% endblock %}
